.MainPage {
  display: grid;
  width: 100%;
  grid-template: "main aside" 1fr / 1fr 25%;
  gap: 0 0;
  grid-auto-flow: row;
  background-color: var(--main-bg);
}

//TODO: убрать бордер

.main {
  grid-area: main;
  border: 1px solid powderblue;
  padding: 0 70px;
}

.aside {
  grid-area: aside;
}

.MainCarousel{
  & > div{
    height: 350px;
  }
}