.errorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--error-bg);
  position: relative;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 300px;
  opacity: 0.1;
  font-weight: bold;
  pointer-events: none;
}

.errorMainText {
  font-size: 60px;
  font-weight: bold;
  pointer-events: none;
}

.errorMessage {
  text-align: center;
  padding: 16px 0;
  opacity: 0.8;
  font-size: 18px;
}
